<!--AGGREGATED VALUES-->
<table>
  <thead>
  <tr class="agg-names">
    <td *ngFor="let type of aggregatedTypes" class="col agg-name">{{getLabelByType(type)}}</td>
  </tr>
  </thead>
  <tbody>
  <tr class="agg-vals">
    <td *ngFor="let type of aggregatedTypes" class="col agg-value">
        <span
          *ngIf="getMetricByType(type) != undefined">{{toFixed(type, getMetricByType(type).value, 2)}} <span
          class="agg-unit">{{getMetricByType(type).unit}}</span></span>
    </td>
  </tr>
  </tbody>
</table>
