/*** Aggregated values widget ***/
div.agg-vals {
  margin-top: 25px;
}

table {
  border-collapse: separate;
  border-spacing: 2px 0px;
}

.agg-value, .agg-name {
  margin-right: 5px;
}

.agg-vals > .agg-value, .agg-names > .agg-name {
  border: 1px #5C91A8 solid;
  font-weight: bold;
  text-align: center;

}

.agg-name {
  background-color: #3c8dbc;
  color: white;
  font-size: 10px;
  padding: 5px;
}

.agg-vals .agg-value {
  padding: 5px;
  font-size: 12px;
  background-color: white;
  /*color: white;*/
}

.agg-unit {
  font-size: 10px;
}

.col-control {
  width: 3.5%;
  vertical-align: middle;
}

.col {
  width: 6.66%;
}

.col-label {
  width: 8%;
}
