.breadcrumb {
    background: white;
    font-size: 1em;
    margin: 0;
    height: 30px;
    text-align: center;
    }
    a,
    span {
      color: grey;
      margin-bottom: 5px;
    }
    a:hover,
    span:hover {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
    li {
      list-style: none;
      float: left;
      margin-bottom: 5px;
    }
    li:last-child {
      margin-right: 20px;
    }
    li::after {
      color: darkgrey;
    }
    ol {
      margin: 0;
    }

  