<div class="tab-pane" *ngIf="data.length > 0">
  <div class="container-fluid">
    <div class="row">
      <div class="capacity-table col-md-6">
        <!--
          TOP TABLE ROW
        -->
        <div class="row table-header">
          <div class="col-control">
            <i class="fa"
               [ngClass]="isCollapseAll() ? 'fa-plus':'fa-minus'"
               (click)="collapseAll()"
               [title]="isCollapseAll() ? 'Expand All':'Collapse All'"></i>
          </div>
          <div class="col-label">
            System
          </div>
          <div class="col" *ngFor="let type of types;let column=index"
               [class.highlightColumn]="isCurrentColumn(column)">{{getColumnLabel(type)}} <i class="text-muted fa " [ngClass]="getSortIconClass(type)" (click)="setSort(type)"></i></div>
        </div>
        <!--
          SYSTEM PART
        -->
        <div class="table-group-header" *ngFor="let system of data;let i = index;">
          <!--
            SYSTEM LABEL
          -->
          <div class="table-group-label row">
            <div class="col-val col-control"><i class="fa expand-collapse"
                                                [@iconRotate] = 'isCollapsed(system.name)'
                                                [ngClass]="'fa-angle-down'"
                                                (click)="addCollapsed(system.name)"
                                                [tooltip]="isCollapsed(system.name) ? 'Expand':'Collapse'"></i></div>
            <!--<div class="col-val col-control">-->
              <!--<i tooltip="Warning for one or more metrics" *ngIf="isAlertingSystem(system.name)" class="fas fa-exclamation text-orange"></i>-->
            <!--</div>-->
            <div class="col-val col-label"><span class="system-name">{{ system.name }}</span></div>
            <!--<div class="ignore" *ngIf="this.getSystemStatistics(system.name) !== undefined">-->
            <!--<div class="ignore">-->
              <!--<div *ngFor="let type of types"-->
                   <!--[tooltip]="getColumnLabel(type)" hide-delay="0" show-delay="300"-->
                   <!--class="col-val col">{{this.getSystemStatistics(system.name).getValue(type).toFixed(2)}}</div>-->
            <!--</div>-->
          </div>
          <!---->
          <!--POOL ROWS-->
          <!---->
          <div *ngFor="let pool of data[i].pools" class="table-data row collapsable"
               [@slideInOut]="isCollapsed(system.name)">
            <div class="col-val col-control">
              </div>
            <div class="col-val col-label"><span class="pool-name">{{pool.name}}</span></div>
            <div [ngClass]="'col-val col'" *ngFor="let type of types; let column=index;"
                 (mouseout)="setCurrentColumn(-1)"
                 (mouseover)="setCurrentColumn(column)"
                 [class.highlightColumn]="isCurrentColumn(column)" hide-delay="0"
                 show-delay="500">
              <span>
                <span class="metric-value">{{getMetric(pool.metrics, type).value}}</span>
                <span class="metric-unit">{{getMetric(pool.metrics, type).unit}}</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
