<div class="row">
  <section class="content-header">
    <H1><i class="fa fa-bell-o"></i> Alerts (Last 24 Hours)</H1>
  </section>
  <section class="content">
    <h4>Performance</h4>
    <div *ngFor="let alert of alerts;let i = index">
      <div *ngIf="containsType(alert.type, alertsPerformance)" class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
        <app-info-box [value]="alert.occurence.length" [data]="alert.occurence" [context]="getLinkContext(alert.type)"
                      [label]="getAlertLabel(alert.type)" [icon]="getAlertIcon(alert.type)"></app-info-box>
      </div>
    </div>
  </section>
  <section class="content">
    <h4>Operations</h4>
    <div *ngFor="let alert of alerts;let i = index" class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
      <app-info-box *ngIf="containsType(alert.type, alertsOperations)" [value]="alert.occurence.length"
                    [data]="alert.occurence" [context]="getLinkContext(alert.type)"
                    [label]="getAlertLabel(alert.type)" [icon]="getAlertIcon(alert.type)"></app-info-box>
    </div>
  </section>


</div>
<div class="row">
  <section class="content-header">
    <h1><i class="fa fa-area-chart"></i> Infrastructure stats (Last 24 hours)</h1>
  </section>
</div>
<div class="row">
  <div class="col-md-9 col-sm-6">
    <div class="box pad">
      <div class="box-body">
        <div class="row">

            <div class="col-md-8">
              <h4>Geo-location of datacenters</h4>
              <div id="world-map-markers"></div>
            </div>
            <div class="col-md-4">
              <h4>Overload stats</h4>
              <div class="row">
                <section class="content" *ngIf="metrics.length > 0">
                  <div *ngFor="let metric of metrics" class="col-md-12 col-xs-6">
                    <!-- small box -->
                    <app-small-box [data]="metric" [label]="getMetricLabel(metric.type)" [icon]="getMetricIcon(metric.type)"
                                   [color]="getMetricColor(metric.type)"></app-small-box>
                  </div>
                </section>
                <div class="col-md-6">
                  <app-knob *ngIf="datacenters !== undefined" [label]="'Datacenters'" [sizeType]="'small'"
                            [metric]="datacenters" [color]="getColor(1)"></app-knob>
                </div>
                <div class="col-md-6">
                  <app-knob *ngIf="registeredSystems !== undefined" [label]="'Registered systems'" [sizeType]="'small'"
                            [metric]="registeredSystems" [color]="getColor(2)"></app-knob>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

