<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="box box-solid">
      <div class="box-header">
        <i class="fa fa-bar-chart-o"></i>

        <h3 class="box-title">Alerts</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          <div *ngFor="let alert of alerts;let i = index" class="col-xs-6 col-sm-3 col-md-4 col-lg-4 text-center">
            <app-info-box [value]="alert.occurence.length" [label]="getAlertLabel(alert.type)"></app-info-box>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="box box-solid">
      <div class="box-header">
        <i class="fa fa-bar-chart-o"></i>

        <h3 class="box-title">Infrastructure statistics</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          <div *ngFor="let metric of metrics;let i = index" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
            <app-knob *ngIf="metric" [sizeType]="'medium'" [metric]="metric" [label]="getMetricLabel(metric.type)" [color]="getColor(i)"></app-knob>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-6 col-lg-6">
    <div class="info-box">
      <!-- Apply any bg-* class to to the icon to color it -->
      <span class="info-box-icon bg-green"><span>{{datacenters}}</span></span>
      <div class="info-box-content">
        <h2>Datacenters</h2>
      </div><!-- /.info-box-content -->
    </div><!-- /.info-box -->
  </div>
  <div class="col-sm-6 col-md-6 col-lg-6">
    <div class="info-box">
      <!-- Apply any bg-* class to to the icon to color it -->
      <span class="info-box-icon bg-blue">{{registeredSystems}}</span>
      <div class="info-box-content">
        <h2>Registered systems</h2>
      </div><!-- /.info-box-content -->
    </div><!-- /.info-box -->
  </div>

</div>
<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="box pad">
      <div class="box-header">
        <h3>Geo-location of datacenters</h3>
      </div>
      <div class="box-body">
        <div id="world-map-markers"></div>
      </div>
    </div>
  </div>
</div>

