<div class="tab-pane" *ngIf="data.length > 0">
  <div class="container-fluid">
    <div class="row">
      <div class="capacity-table col-md-12">
        <!--
          TOP TABLE ROW
        -->
        <div class="row table-header">
          <div class="col-control"></div>
          <div class="col">System</div>
          <div class="col" *ngFor="let type of types;let column=index"
               [class.highlightColumn]="isCurrentColumn(column)">{{getColumnLabel(type)}} <i class="text-muted fa " [ngClass]="getSortIconClass(type)" (click)="setSort(type)"></i>
            <br/><i class="fa fa-angle-up text-red"></i> <span class="text-muted">Peak</span> <i class='fa fa-sort text-muted'></i>
          </div>
        </div>
          <!--POOL ROWS-->
          <!---->
          <div *ngFor="let system of data" class="table-data row collapsable">
            <div class="col-val col-control">
              <i *ngIf="isAlertingSystem(system.name)" tooltip="Warning for one or more metrics" class="fas fa-exclamation text-orange"></i>
            </div>
            <div class="col-val col"><span class="system-name">{{system.name}}</span></div>
            <div [ngClass]="'col-val col'" *ngFor="let type of types; let column=index;"
                 (mouseout)="setCurrentColumn(-1)"
                 (mouseover)="setCurrentColumn(column)"
                 [class.highlightColumn]="isCurrentColumn(column)"><app-unit-formatter [metric]="getMetricObject(system.name, type)" [metricLabel]="getColumnLabel(type)" [alertMessage]="getAlertMessage(system.name, type)"></app-unit-formatter>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
