<h3>
  Port connections
</h3>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="box" *ngIf="systemsList.length > 0">
        <div class="box-body">
          <label for="system">System:</label>
          <div class="row">
            <div class="col-md-8">
              <ng-select class="left" id="system"
                         bindValue="id" bindLabel="name" [items]="systemsList"
                         (change)="openSelectedSystem()"
                         [(ngModel)]="selectedSystem"
                         placeholder="Search...">
              </ng-select>
            </div>
            <div class="col-md-4">
              <button type="button" class="btn btn-default" *ngIf="selectedSystem !== undefined" (click)="openForm()">
                Duplicate system
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5 col-md-3 col-lg-3">
      <div class="box" *ngIf="selectedSystem !== undefined">
        <div class="box-header">
          <h3 class="box-title">DKC</h3>
        </div>
        <div class="box-body">
          <app-dkc-list [data]="dkcList"
                        [displayAddButton]="getSystemListCurrent(selectedSystem).length > 0"
                        [parentsData]="systemsList"></app-dkc-list>
        </div>
      </div>
    </div>
    <div class="col-sm-7 col-md-6 col-lg-6">
      <div class="box" *ngIf="selectedSystem !== undefined">
        <div class="box-header">
          <h3 class="box-title">Controllers</h3>
        </div>
        <div class="box-body">
          <app-controller-list [data]="controllerList"
                               [displayAddButton]="dkcList.length > 0"
                               [parentsData]="dkcList"></app-controller-list>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-12 col-md-9 col-lg-9">
      <div class="box" *ngIf="selectedSystem !== undefined">
        <div class="box-header">
          <h3 class="box-title">Channel Boards</h3>
        </div>
        <div class="box-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <app-channel-board-list [data]="channelBoardList"
                                        [displayAddButton]="controllerList.length > 0"
                                        [parentsData]="controllerList"></app-channel-board-list>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="box" *ngIf="selectedSystem !== undefined">
        <div class="box-header">
          <h3 class="box-title">Ports</h3>
        </div>
        <div class="box-body">
          <app-port-list [data]="portList"
                         [displayAddButton]="channelBoardList.length > 0"
                         [parentsData]="channelBoardList"
                         [importEnabled]="true"
                         (importFinished)="loadData(true)"></app-port-list>
        </div>
      </div>
    </div>
  </div>
</div>

<app-storage-entity-form *ngIf="this.selectedSystem != null" [dataCenterList]="[]"
                         [systemList]="systemsList"
                         [parentSystemList]="getSystemListCurrent(this.selectedSystem)"
                         [dkcList]="dkcList"
                         [channelBoardList]="channelBoardList"
                         [controllerList]="controllerList"
                         [portList]="portList"
                         [selectedParent]="selectedSystem"
                         (dataSaved)="loadData($event)"></app-storage-entity-form>
