<h3>
  Port connections
</h3>
<div class="box" *ngIf="systemsList.length > 0">
  <div class="box-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <label for="system">System:</label>
          <ng-select id="system"
                     bindValue="id" bindLabel="name" [items]="systemsList"
                     (change)="openSelectedSystem()"
                     [(ngModel)]="selectedSystem"
                     placeholder="Search...">
          </ng-select>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="box" *ngIf="selectedSystem !== undefined">
        <div class="box-header">
          <h3 class="box-title">DKC</h3>
        </div>
        <div class="box-body">
          <app-dkc-list [data]="dkcList"
                        [displayAddButton]="getSystemListCurrent(selectedSystem).length > 0"
                        [parentsData]="systemsList"></app-dkc-list>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-6">
      <div class="box" *ngIf="selectedSystem !== undefined">
        <div class="box-header">
          <h3 class="box-title">Controllers</h3>
        </div>
        <div class="box-body">
          <app-controller-list [data]="controllerList"
                               [displayAddButton]="dkcList.length > 0"
                               [parentsData]="dkcList"></app-controller-list>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-9">
      <div class="box" *ngIf="selectedSystem !== undefined">
        <div class="box-header">
          <h3 class="box-title">Channel Boards</h3>
        </div>
        <div class="box-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <app-channel-board-list [data]="channelBoardList"
                                        [displayAddButton]="controllerList.length > 0"
                                        [parentsData]="controllerList"></app-channel-board-list>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="box" *ngIf="selectedSystem !== undefined">
        <div class="box-header">
          <h3 class="box-title">Ports</h3>
        </div>
        <div class="box-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-9">
                <app-port-list [data]="portList"
                               [displayAddButton]="channelBoardList.length > 0"
                               [parentsData]="channelBoardList"></app-port-list>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-storage-entity-form *ngIf="this.selectedSystem != null" [dataCenterList]="[]"
                         [parentSystemList]="getSystemListCurrent(this.selectedSystem)"
                         [dkcList]="dkcList"
                         [channelBoardList]="channelBoardList"
                         [controllerList]="controllerList"
                         [selectedParent]="selectedSystem"
                         (dataSaved)="loadData($event)"></app-storage-entity-form>
<!--<app-storage-entity-form [dataCenterList]="[]"-->
<!--                         [systemList]="[]"-->
<!--                         (dataSaved)="loadData($event)"></app-storage-entity-form>-->
