<div class="box" *ngIf="systemsList.length > 0">
  <div class="box-header">
    <h3 class="box-title">System</h3>
  </div>
  <div class="box-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <label for="system">System:</label>
          <ng-select id="system" [items]="systemsList"
                     bindValue="id" bindLabel="label" [(ngModel)]="selectedSystem">
          </ng-select>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="box" *ngIf="selectedSystem !== undefined">
  <div class="box-header">
    <h3 class="box-title">DKC</h3>
  </div>
  <div class="box-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <app-dkc-list [selectedSystem]="selectedSystem"></app-dkc-list>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="box" *ngIf="selectedSystem !== undefined">
  <div class="box-header">
    <h3 class="box-title">Controllers</h3>
  </div>
  <div class="box-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <app-controller-list [selectedSystem]="selectedSystem"></app-controller-list>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="box" *ngIf="selectedSystem !== undefined">
  <div class="box-header">
    <h3 class="box-title">Channel Boards</h3>
  </div>
  <div class="box-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <app-channel-board-list [selectedSystem]="selectedSystem"></app-channel-board-list>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="box" *ngIf="selectedSystem !== undefined">
  <div class="box-header">
    <h3 class="box-title">Ports</h3>
  </div>
  <div class="box-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <app-port-list [selectedSystem]="selectedSystem"></app-port-list>
        </div>
      </div>
    </div>
  </div>
</div>
