<div class="capacity-table sticky col-md-12">
  <!--
    TOP TABLE ROW
  -->
  <div class="row table-header sticky-top">
    <div class="col-control">
      <i *ngIf="options.isDataGrouped" class="fa expand-collapse"
         [@iconRotate]="isCollapseAll()"
         [ngClass]="'fa-angle-down'"
         (click)="collapseAll()"
         [tooltip]="isCollapseAll() ? 'Expand All':'Collapse All'"></i>
      <i *ngIf="options.selectableRows && isSelectedAll()" class="fa fa-check-square-o" (click)="selectAll()"></i>
      <i *ngIf="options.selectableRows && isPartiallySelected() && !isSelectedAll()" class="fa fa-fw fa-minus-square-o"
      (click)="selectAll()"></i>
      <i *ngIf="options.selectableRows && (!isPartiallySelected()) && (!isSelectedAll())" class="fa fa-fw fa-square-o"
      (click)="selectAll()"></i>
    </div>
    <div class="col-val col-control" *ngIf="options.isDataGrouped && options.cellDecoratorRules.length > 0">
      <i tooltip="Alerts" class="fa fa-warning text-orange"></i>
    </div>
    <div class="col" [style.width.%]="options.getColumnWidth(columnOption.index)"
         *ngFor="let columnOption of options.columns">
      <span class="link" (click)="setSort(columnOption, false)">{{getColumnLabel(columnOption.index)}} <i
        class="text-muted sorting sort-icon-right"
        [ngClass]="getSortIconClass(columnOption.index, false)"></i>
      </span>
      <!-- [class.highlightColumn]="isColumnHighlighted(column)" -->
      <br/>
      <span *ngIf="columnOption.altSortEnable === true" (click)="setSort(columnOption, true)" class="link"><i
      class="fa fa-angle-up text-red sort-icon-left"></i>
        <span class="peak-label">Peak</span> <i
      class='sorting sort-icon-right' [ngClass]="getSortIconClass(columnOption.index, true)"
      ></i></span>
    </div>
  </div>
  <!--POOL ROWS-->
  <!---->
  <div class="row">
    <!--<div  [class.highlight-row]="options.highlightRow">-->
    <app-row-dynamic-table *ngFor="let row of data"
                           [class.highlight-row]="options.highlightRow && !options.isDataGrouped"
                           [class.striped-row]="!options.isDataGrouped"
                           [componentFormatter]="options.rowComponentFormatter" [data]="row"
                           [options]="options"></app-row-dynamic-table>
    <!--</div>-->
  </div>
</div>
