<div class="sasi-table-container"
     [style]="style">
  <div class="sasi-table-header">
    <!--    <div class="sasi-table-item sasi-table-controls"-->
    <!--    style="grid-column-start: 1"></div>-->
    <!--    <div class="sasi-table-item sasi-table-alerts"></div>-->
    <div *ngFor="let headerGroup of options.headerGroups; let i = index;"
         class="sasi-table-item sasi-table-data sasi-table-header-group"
         [style]="getHeaderGridStyle(i)">
      {{headerGroup.name}}
    </div>
    <!-- Labels -->
    <div *ngIf="options.selectableRows || options.isDataGrouped" class="sasi-table-item sasi-table-controls">
      <i *ngIf="options.isDataGrouped" class="fa expand-collapse"
         [@iconRotate]="isCollapseAll()"
         [ngClass]="'fa-angle-down'"
         (click)="collapseAll()"
         [tooltip]="isCollapseAll() ? 'Expand All':'Collapse All'"></i>
      <i *ngIf="options.selectableRows && isSelectedAll()" class="far fa-check-square" (click)="selectAll()"></i>
      <i *ngIf="options.selectableRows && isPartiallySelected() && !isSelectedAll()" class="far fa-fw fa-minus-square"
         (click)="selectAll()"></i>
      <i *ngIf="options.selectableRows && (!isPartiallySelected()) && (!isSelectedAll())" class="far fa-fw fa-square"
         (click)="selectAll()"></i>
    </div>
    <div *ngIf="options.isDataGrouped && options.cellDecoratorRules.length > 0"
         class="sasi-table-item sasi-table-alerts">
      <i tooltip="Alerts" class="fa fa-exclamation-triangle text-orange"></i>
    </div>
    <!--
      Non-Group header
    -->

    <div [tooltip]="getColumnTooltipText(columnOption.index)"
         *ngFor="let columnOption of getColumns()"
         class="sasi-table-item sasi-table-data">

      <span>
        <span (click)="setSort(columnOption, false)"
              class="link sasi-header-label">{{getColumnLabel(columnOption.index)}}</span>
        <span class="sasi-header-icon">
          <i [ngClass]="getSortIconClass(columnOption.index, false)"
             class="text-muted sorting sort-icon-right"></i>
        </span>
      </span>

      <span *ngIf="columnOption.altSortEnable === true"
            (click)="setSort(columnOption, true)"
            class="link sasi-header-icon">
        <i class="fa fa-angle-up text-red sort-icon-left"></i>
        <span class="peak-label">Peak</span>
        <i class='sorting sort-icon-right'
           [ngClass]="getSortIconClass(columnOption.index, true)"></i>
      </span>
    </div>
  </div>
  <app-row-dynamic-table *ngFor="let row of data"
                         [class.highlight-row]="options.highlightRow && !options.isDataGrouped"
                         [class.striped-row]="!options.isDataGrouped"
                         [class.not-data-grouped]="!options.isDataGrouped"
                         [componentFormatter]="options.rowComponentFormatter" [data]="row"
                         [options]="options">
  </app-row-dynamic-table>
</div>
