/********
 * sasi-table-container - is grid
 * sasi-table-item - is grid item
 * sasi-table-data
 * sasi-table-header - is wrapper element for header
 * sasi-table-controls - is wrapper for control elements like select and collapse
 * sasi-table-alerts - is wrapper for alerting elements(mostly icons)
 */
/******** LAYOUT ***********/
.sasi-table-container {
  display: grid;
  /*grid-template-columns: 40px 120px repeat(19, 1fr);*/
  grid-template-rows: minmax(25px, max-content);
  grid-auto-rows: minmax(20px, max-content);
}

/*
 Remove parent elements which contains elements for grid
*/
:host /deep/ app-row-group-table,
:host /deep/ app-row-table,
:host /deep/ app-column,
app-row-dynamic-table,
.sasi-table-header {
  display: contents;
}

/** TODO this should be used only when data are align to right **/
:host /deep/ .sasi-table-cell {
  padding-right: 5px;
}

/********* Appearance *************/
.sasi-table-container {
  border: 3px #EAEAEA solid;
}

.sasi-table-header > .sasi-table-item {
  border-right: 1px #EAEAEA solid;
  background-color: #3C8CBC;
  font-size: 1.1rem;
  font-weight: bolder;
  color: white;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.sasi-table-header > .sasi-table-item.sasi-table-controls {
  flex-flow: row;
}

.sasi-table-header > .sasi-table-header-group {
  border-bottom: 1px #EAEAEA solid;
}
:host /deep/ app-row-dynamic-table.striped-row:nth-of-type(odd) .sasi-table-item,
:host /deep/ app-row-table.striped-row:nth-of-type(odd) .sasi-table-item {
  background-color: #f3f8fa;
}

/** Table header **/
.sasi-table-header > .sasi-table-item {
  position: sticky;
  top: 50px;
  z-index: 10;
}

.sasi-table-header > .sasi-table-item i {
  color: white;
}

.sasi-table-header .sorting {
  font-size: 0.9rem;
}

.sasi-table-header .peak-label {
  color: #c7e1f8;
}

.sasi-table-header i.sort-icon-left {
  margin-right: 5px;
}

.sasi-table-header i.sort-icon-right {
  margin-left: 5px;
}

.sasi-table-header span.link {
  color: white;
  cursor: pointer;
}

.sasi-table-header span.link:hover {
  color: white;
  cursor: pointer;
  text-decoration: white underline;
}

/** Table header end **/
:host /deep/ app-row-dynamic-table .sasi-table-item {
  border-right: 1px #EAEAEA solid;
}

:host /deep/ app-row-table:hover .sasi-table-item {
  background-color: #b4d1ee !important;
  color: #3A738C;
}
:host /deep/ .not-data-grouped app-row-table .sasi-table-item,
:host /deep/ .not-data-grouped app-row-table app-column > .sasi-table-item {
  margin-bottom: 2px;
  border-top: 3px solid #EAEAEA;
  border-bottom: 3px solid #EAEAEA;
}
/*app-row-dynamic-table.highlight-row:hover {*/
/*  background-color: #b4d1ee !important;*/
/*  color: #3A738C;*/
/*}*/
