/****** Behavior *****/
div.collapsed ~ div.collapsable {
  display: none;
}

div.table-header > div.col.highlightColumn {
  text-decoration: #334369 underline;
}


.selectedRow {
  background-color: #BEECD1 !important;
  color: #3A738C;
}

/*** Layout table ***/
.col-control {
  width: 3.5%;
  display: inline-block;
  vertical-align: middle;
}

.col {
  /*width: 13.33%;*/
  display: inline-block;
  vertical-align: middle;
}

.col-label {
  width: 13%;
  display: inline-block;

  /*width: 100%;*/
}

.capacity-table .row {
  margin-right: 0px;
  margin-left: 0px;
}

/*** Table header ***/

div.table-header {
  border: 3px #EAEAEA solid;
  background-color: #3C8CBC;
  font-size: 13px;
  color: white;
  font-weight: bolder;
}

div.table-header > div {
  border-right: 1px #EAEAEA solid;
  padding: 10px 0px 10px 0px;
}

div.table-header > div {
  text-align: center;
}

div.table-header > div.col-control {
  color: #333;
}

/**** Table data ****/
app-row-dynamic-table {
  display: block;
  margin: 0 0 5px;
  border: 3px solid #eaeaea;
}
app-row-dynamic-table.striped-row:nth-of-type(odd) {
  background-color: #f3f8fa;
}
app-row-dynamic-table.highlight-row:hover {
  background-color: #b4d1ee !important;
  color: #3A738C;
}

.col-control i {
  font-size: 11px;
  padding: 3px;
}
.table-header .col-control i, .table-header i{
  color: white
}
.col-control:after {
  content: "";
  font-size: 11px;
  padding: 3px;
}

div.sticky {
  position: sticky;
}

div.sticky-top {
  position: sticky;
  top: 50px;
  z-index: 10;
}

.expand-collapse {
  padding-right: 15px;
}

.expand-collapse:hover {
  color: #5C91A8;
  font-size: 17px;
}

div.no-border {
  border-right: 0px !important;
}

i.sort-icon-left {
  margin-right: 5px;
}

i.sort-icon-right {
  margin-left: 5px;
}

.table-data.row {
  margin: 0px 0px 5px 0px;
  border: 3px #EAEAEA solid;
}

.peak-label {
  color: #c7e1f8;
}
app-row-dynamic-table {
  width: 100%;
}

.sorting{
  font-size:10px;
}

.col span.link {
  color: white;
  cursor: pointer;

}
.col span.link:hover {
  color: white;
  cursor: pointer;
  text-decoration: white underline;
}


