/********
 * sasi-table-container - is grid
 * sasi-table-item - is grid item
 * sasi-table-data
 * sasi-table-header - is wrapper element for header
 * sasi-table-controls - is wrapper for control elements like select and collapse
 * sasi-table-alerts - is wrapper for alerting elements(mostly icons)
 */
/******** LAYOUT ***********/
.sasi-table-container {
  display: grid;
  grid-template-columns: 40px 120px repeat(19, 1fr);
  grid-template-rows: minmax(40px, max-content);
  grid-auto-rows: 30px;
}
/*
 Remove parent elements which contains elements for grid
*/
:host /deep/ app-row-group-table,
:host /deep/ app-row-table,
:host /deep/ app-column,
app-row-dynamic-table,
.sasi-table-header {
  display: contents;
}

/********* Appearance *************/
.sasi-table-container {
  border: 3px #EAEAEA solid;
}

.sasi-table-header > .sasi-table-item {
  border-right: 1px #EAEAEA solid;
  background-color: #3C8CBC;
  font-size: 1.1rem;
  font-weight: bolder;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.sasi-table-header > .sasi-table-item {
  position: sticky;
  top: 50px;
  z-index: 10;
}
.sasi-table-header > .sasi-table-item  i {
  color: white;
}
/*.sasi-table-header > div > * {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  align-items: center;*/
/*  justify-content: space-evenly;*/
/*}*/
/*.sasi-header-label {*/
/*  flex-grow: 3;*/
/*}*/
/*.sasi-header-icon {*/
/*  flex-grow: 1;*/

/*}*/


/*  !****** Behavior *****!*/
/*div.collapsed ~ div.collapsable {*/
/*  display: none;*/
/*}*/
/*!*** Layout table ***!*/
/*.col-control {*/
/*  width: 3.5%;*/
/*  display: inline-block;*/
/*  vertical-align: middle;*/
/*}*/

/*.col {*/
/*  display: inline-block;*/
/*  vertical-align: middle;*/
/*}*/

/*!*** Table header ***!*/

/*div.table-header {*/
/*  border: 3px #EAEAEA solid;*/
/*  background-color: #3C8CBC;*/
/*  font-size: 1.1rem;*/
/*  font-weight: bolder;*/
/*}*/

/*div.table-header > div {*/
/*  border-right: 1px #EAEAEA solid;*/
/*  padding: 5px 0px 0px 0px;*/
/*}*/

/*div.table-header > div > span {*/
/*  white-space: pre-wrap;*/
/*  overflow: hidden;*/
/*  text-overflow: ellipsis;*/
/*  display: inline-block;*/
/*  max-width: 100%;*/
/*}*/

/*div.table-header > div {*/
/*  text-align: center;*/
/*}*/

/*div.table-header > div.col-control {*/
/*  color: #333;*/
/*}*/

/*!**** Table data ****!*/
/*app-row-dynamic-table {*/
/*  display: block;*/
/*  margin: 0 0 5px;*/
/*  border: 3px solid #eaeaea;*/
/*}*/

/*app-row-dynamic-table.striped-row:nth-of-type(odd) {*/
/*  background-color: #f3f8fa;*/
/*}*/

/*app-row-dynamic-table.highlight-row:hover {*/
/*  background-color: #b4d1ee !important;*/
/*  color: #3A738C;*/
/*}*/

/*.col-control i {*/
/*  font-size: 11px;*/
/*  padding: 5px;*/
/*}*/

/*.table-header .col-control i, .table-header i {*/
/*  color: white*/
/*}*/

/*.col-control:after {*/
/*  content: "";*/
/*  font-size: 11px;*/
/*  padding: 1px;*/
/*}*/

/*.expand-collapse {*/
/*  padding-right: 15px;*/
/*}*/

/*.expand-collapse:hover {*/
/*  color: #5C91A8;*/
/*  font-size: 17px;*/
/*}*/

/*div.no-border {*/
/*  border-right: 0px !important;*/
/*}*/

/*i.sort-icon-left {*/
/*  margin-right: 5px;*/
/*}*/

/*i.sort-icon-right {*/
/*  margin-left: 5px;*/
/*}*/

/*.table-data.row {*/
/*  margin: 0px 0px 5px 0px;*/
/*  border: 3px #EAEAEA solid;*/
/*}*/

/*.peak-label {*/
/*  color: #c7e1f8;*/
/*}*/

/*app-row-dynamic-table {*/
/*  width: 100%;*/
/*}*/

/*.sorting {*/
/*  font-size: 0.9rem;*/
/*}*/

/*.col span.link {*/
/*  color: white;*/
/*  cursor: pointer;*/

/*}*/

/*.col span.link:hover {*/
/*  color: white;*/
/*  cursor: pointer;*/
/*  text-decoration: white underline;*/
/*}*/
