<div class="tab-pane" *ngIf="data.length > 0">
  <table class="table table-striped" [mfData]="tableData" #mf="mfDataTable">
    <thead>
    <tr>
      <th>
        <mfDefaultSorter by="name">System</mfDefaultSorter>
      </th>
      <th><mfDefaultSorter by="workload">Workload</mfDefaultSorter></th>
      <th><mfDefaultSorter by="transfer">Transfer</mfDefaultSorter></th>
      <th><mfDefaultSorter by="response">Response</mfDefaultSorter></th>
      <th><mfDefaultSorter by="cpu">CPU</mfDefaultSorter></th>
      <th><mfDefaultSorter by="hdd">HDD</mfDefaultSorter></th>
      <th><mfDefaultSorter by="write_pending">Write Pending</mfDefaultSorter></th>
    </tr>
    </thead>
    <tbody >
    <tr *ngFor="let system of mf.data">
      <td>{{ system.name }} </td>
      <td *ngFor="let metricType of displayedMetrics"><app-unit-formatter [metric]="getMetricObject(system.name, metricType)"></app-unit-formatter></td>
    </tr>
    </tbody>
  </table>
</div>
