<h2>Global Statistics</h2>
<div *ngIf="context === 'physical-capacity'" class="global-stats col-md-12">
  <app-infrastructure-statistics></app-infrastructure-statistics>
</div>
<div *ngIf="context === 'logical-capacity'" class="global-stats col-md-12">
  <app-global-logical-statistics></app-global-logical-statistics>
</div>
<div *ngIf="context === 'host-group-capacity'" class="global-stats col-md-12">
  <app-global-host-group-capacity></app-global-host-group-capacity>
</div>
<div class="col-md-12">
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li *ngFor="let dataCenter of dataCenters"
          [class.active]="isCurrentTab(dataCenter.id)">
        <a (click)="activeTab(dataCenter.id)"
           [routerLink]="['./' + context, dataCenter.id]">
          {{dataCenter.label}}
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <router-outlet></router-outlet>
    </div>
    <!-- /.performance-statistics-content -->
  </div>
  <!-- /.nav-tabs-custom -->
</div>



