<div *ngIf="data != null" class="metric-value">
  <span *ngIf="isAlert()" tooltip="{{getAlertMessage()}}" hide-delay="0" ngClass="{{getViolatedRuleClass()}}">{{getValue() | formatThousands}} <span
    class="metric-unit">{{data.unit}}</span></span>
  <span *ngIf="!isAlert()" tooltip="{{label}} average" hide-delay="0">{{getValue() | formatThousands}} <span
    class="metric-unit">{{data.unit}}</span></span>
</div>
<div *ngIf="data != null" class="peak">
  <span tooltip="{{label}} peak" hide-delay="0"><span class="text-muted"><i
    class="fa fa-angle-up text-red"></i>{{data.peak | formatThousands}} <span
    class="metric-unit">{{data.unit}}</span></span>
  </span>
</div>
