.peak {
  display: block;
  font-size: 12px;
  font-style: italic;
}

.peak i, .metric-value i {
  margin-right: 5px;
}

.peak i {
  padding: 0px;
  /*border-top-width: 1px;*/
  /*border-top-style: solid;*/
  font-size: 12px;
}

.metric-value {
  display: block;
  font-weight: 600;
  font-size: 14px;
  /*border-bottom: 2px #00c0ef solid;*/
  margin-bottom: 2px;
}

.text-alert {
  /*color: #900020;*/
  color: #db8b0b;
}

.metric-value .metric-unit {
  font-size: 10px;
}

.peak .metric-unit {
  font-size: 9px;
}
