<div class="info-box">
  <span [ngClass]="isOverThreshold() ? 'info-box-icon bg-orange': 'info-box-icon bg-green'" class="info-box-icon"><i class="fa" [ngClass]="isOverThreshold() ? 'fa-exclamation-triangle' : icon"></i></span>

  <div class="info-box-content">
    <span class="info-box-text">{{label}}</span>
    <span class="info-box-number">{{value}}<small></small></span>
    <span *ngIf="data.length > 0">
      |<span *ngFor="let occurence of data; let i = index;">
        <span *ngIf="i < 2" ><a [routerLink]="'/global-statistics/' + occurence.datacenterId + '/' + context">
          {{occurence.name}}</a> |
          </span>
      </span>
    </span>
    <span *ngIf="data.length > 2"> ... <a class="small-box-footer" href="#" [class.hidden]="!isOverThreshold()" (click)="openModal()"> >>> </a> </span>
  </div>
  <!-- /.info-box-content -->
</div>
<div class="modal fade in" id="modal-default" [class.open]="isModalOpened()">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" (click)="closeModal()">×</span></button>
        <h4 class="modal-title">{{label}}</h4>
      </div>
      <div class="modal-body" *ngIf="data.length > 0">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>System</th>
              <th *ngIf="data[0].entityType === entityType.POOL">Pool</th>
              <th>Value</th>
            </tr>
          </thead>
          <tr *ngFor="let occurence of data">
            <td *ngIf="occurence.entityType === null">
              {{occurence.name}}
            </td>
            <td *ngIf="occurence.entityType !== null">
              {{metric.getSystemName(occurence.datacenterId, occurence.systemId)}}
            </td>
            <td *ngIf="occurence.entityType === entityType.POOL">
              {{occurence.name}}
            </td>
            <td>
              {{occurence.value}} {{occurence.unit}}
            </td>
            <!---->
            <!--<a [routerLink]="'/global-statistics/' + occurence.datacenterId + '/' + context">-->
          <!--{{occurence.name}}</a> - {{occurence.value}} {{occurence.unit}} -->
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" (click)="closeModal()">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
