<div class="info-box">

  <span *ngIf="isOverThreshold()" [tooltip]="infoBoxTooltip" class="info-box-icon bg-orange info-box-icon cursor"
        (click)="openModal()">
    <i class="fa fa-exclamation-triangle"></i>
  </span>
  <span *ngIf="!isOverThreshold()" class="info-box-icon bg-green">
    <i class="fa {{icon}}"></i>
  </span>

  <div class="info-box-content">
    <span class="info-box-text">{{label}}</span>
    <span class="info-box-number">{{value}}<small></small></span>
    <div class="cut-text">
    <span *ngIf="data.length > 0">
      |<span *ngFor="let occurence of data; let i = index;">
        <span *ngIf="i < 10"><a [routerLink]="'/global-statistics/' + context + '/' + occurence.datacenterId">
          {{metric.getSystemName(occurence.datacenterId, occurence.systemId)}}</a> |
          </span>
      </span>
    </span>
    </div>
    <span *ngIf="data.length > 2"><a class="small-box-footer" href="#" [class.hidden]="!isOverThreshold()"
                                     (click)="openModal()"> >>> </a> </span>
  </div>
  <!-- /.info-box-content -->
</div>
<div class="modal fade in" id="modal-default" [class.open]="isModalOpened()">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" (click)="closeModal()">×</span></button>
        <h4 class="modal-title">{{label}}</h4>
      </div>
      <div class="modal-body" *ngIf="data.length > 0">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>System</th>
            <th *ngIf="data[0].entityType === entityType.POOL">Pool</th>
            <th *ngIf="data[0].entityType === entityType.ADAPTER || data[0].middleEntityType === entityType.ADAPTER">
              Adapter
            </th>
            <th *ngIf="data[0].entityType === entityType.PORT">Port</th>
            <th>Value</th>
          </tr>
          </thead>
          <tr *ngFor="let occurence of data">
            <td *ngIf="occurence.entityType !== null">
              <span><a [routerLink]="'/global-statistics/' + context + '/' + occurence.datacenterId">
                {{metric.getSystemName(occurence.datacenterId, occurence.systemId)}}</a>
              </span>
            </td>
            <td *ngIf="occurence.entityType === entityType.POOL || occurence.entityType === entityType.ADAPTER ">
              <span><a [routerLink]="'/global-statistics/' + context + '/' + occurence.datacenterId">
                {{occurence.name}}</a>
              </span>
            </td>
            <td *ngIf="occurence.middleEntityType === entityType.ADAPTER">
              <span><a [routerLink]="'/global-statistics/' + context + '/' + occurence.datacenterId">
                {{occurence.middleEntityName}}</a>
              </span>
            </td>
            <td *ngIf="occurence.entityType === entityType.PORT">
              <span><a [routerLink]="'/global-statistics/' + context + '/' + occurence.datacenterId">
                {{occurence.name}}</a>
              </span>
            </td>
            <td>
              {{occurence.value}} {{occurence.unit}}
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" (click)="closeModal()">Close
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
