<div
     (mouseout)="setHighlightedColumn(-1)"
     (mouseover)="setHighlightedColumn(colIndex)"
     [class.highlightColumn]="isColumnHighlighted(colIndex)"
     [class.alt-border]="column.altBorder"
     [class.alt-border-left]="column.altBorderLeft"
     [class.text-right]="colIndex >= 1 && options.columnAlign === 'right'"
     [class.text-center]="options.columnAlign !== 'right'"
     [class.center-margin]="colIndex == 0 && options.columnAlign === 'right'"
     class="sasi-table-item sasi-table-data"
     [@slideInOut]="isCollapsed">


  <div
     class="sasi-table-cell"
>
  <app-cell-table [componentFormatter]="column.component" [data]="data.getCellRawData(column)" [label]="column.label"
                  [rowData]="data"
                  [options]="options" [column]="column"></app-cell-table>
</div>
</div>
