.sasi-table-item.alt-border {
  border-right: 3px double darkgrey;
}
.sasi-table-item.text-right {
  justify-content: flex-end;
}
.sasi-table-item.text-center {
  justify-content: center;
}
.sasi-table-item.center-margin {
  justify-content: flex-start;
  padding-left: 30px;
}
.sasi-table-cell {
  min-width: 100%;
}
.highlightColumn {
  background-color: #b4d1ee !important;
  color: #3A738C;
}
