<div class="sasi-table-item sasi-table-controls">
  <i
    [ngClass]="isSelectedRow(data.getCell('name').value) ? 'fa-check-square' : 'fa-square'" class="far fa-fw"
    (click)="selectRow(data.getCell('name').value)"></i>
</div>
<div *ngIf="options.colControlFormatter != null"
     class="sasi-table-item sasi-table-alerts">
  <app-cell-table [componentFormatter]="options.colControlFormatter" [data]="data" [label]="''"
                  [options]="options"
  ></app-cell-table>
</div>
<div *ngFor="let column of options.columns; let colIndex=index"
     [class.alt-border]="column.altBorder"
     [class.alt-border-left]="column.altBorderLeft"
     class="sasi-table-item sasi-table-data">
  <app-column
    [data]="data"
    [options]="options"
    [column]="column"
    [colIndex]="colIndex"
  >
  </app-column>
</div>
<!--<div class="table-data " [class.selectedRow]="isSelectedRow(data.getCell('name').value)"-->
<!--     [class.highlight-row]="options.highlightRow">-->
<!--  <div class="col-val col-control" *ngIf="options.selectableRows">-->
<!--    <i-->
<!--      [ngClass]="isSelectedRow(data.getCell('name').value) ? 'fa-check-square' : 'fa-square'" class="far fa-fw"-->
<!--      (click)="selectRow(data.getCell('name').value)"></i>-->
<!--  </div>-->
<!--  <div *ngIf="options.colControlFormatter != null" class="col-val col-control">-->
<!--    <app-cell-table [componentFormatter]="options.colControlFormatter" [data]="data" [label]="''"-->
<!--                    [options]="options"-->
<!--    ></app-cell-table>-->
<!--  </div>-->
<!--  &lt;!&ndash;  Create new element for following div, store colIndex in the new component, and subscribe to highlight column service and call cd.markCheck only when columns are same,-->
<!--  or previously my column was highlighted, then i have to remove the colors&ndash;&gt;-->
<!--  <app-column-->
<!--    *ngFor="let column of options.columns; let colIndex=index"-->
<!--    [data]="data"-->
<!--    [options]="options"-->
<!--    [column]="column"-->
<!--    [colIndex]="colIndex">-->
<!--  </app-column>-->
<!--  &lt;!&ndash;  <div [ngClass]="'col-val col'" [style.width.%]="options.getColumnWidth(column.index)"&ndash;&gt;-->
<!--  &lt;!&ndash;       *ngFor="let column of options.columns; let colIndex = index"&ndash;&gt;-->
<!--  &lt;!&ndash;       (mouseout)="setHighlightedColumn(-1)"&ndash;&gt;-->
<!--  &lt;!&ndash;       (mouseover)="setHighlightedColumn(colIndex)"&ndash;&gt;-->
<!--  &lt;!&ndash;       [class.highlightColumn]="isColumnHighlighted(colIndex)"&ndash;&gt;-->
<!--  &lt;!&ndash;       [class.text-right]="colIndex > 0 && options.columnAlign === 'right'"&ndash;&gt;-->
<!--  &lt;!&ndash;       [class.text-center]="colIndex <= 0 || options.columnAlign !== 'right'"&ndash;&gt;-->
<!--  &lt;!&ndash;       [class.alt-border]="column.altBorder"&ndash;&gt;-->
<!--  &lt;!&ndash;  >&ndash;&gt;-->
<!--  &lt;!&ndash;    <app-cell-table [componentFormatter]="column.component" [data]="data.getCellRawData(column)" [label]="column.label"&ndash;&gt;-->
<!--  &lt;!&ndash;                    [rowData]="data"&ndash;&gt;-->
<!--  &lt;!&ndash;                    [options]="options" [column]="column"></app-cell-table>&ndash;&gt;-->
<!--  &lt;!&ndash;  </div>&ndash;&gt;-->
<!--</div>-->
