<div class="table-data " [class.selectedRow]="isSelectedRow(data.getCell('name').value)">
  <div class="col-val col-control" *ngIf="options.isDataGrouped && options.cellDecoratorRules.length > 0">
    <i
      [ngClass]="isSelectedRow(data.getCell('name').value) ? 'fa-check-square-o' : 'fa-square-o'" class="fa fa-fw"
      (click)="selectRow(data.getCell('name').value)"></i>
  </div>
  <div class="col-val col-control">
    <app-cell-table [componentFormatter]="options.colControlFormatter" [data]="data" [label]="''"
                    [options]="options"></app-cell-table>
  </div>
  <div [ngClass]="'col-val col'" [style.width.%]="options.getColumnWidth(column.index)" *ngFor="let column of options.columns; let colIndex = index"
       (mouseout)="setHighlightedColumn(-1)"
       (mouseover)="setHighlightedColumn(colIndex)"
       [class.highlightColumn]="isColumnHighlighted(colIndex)"
  >
    <app-cell-table [componentFormatter]="column.component" [data]="data.getCellRawData(column)" [label]="column.label"
                    [options]="options"></app-cell-table>
    <!--<app-unit-formatter [metric]="getMetricObject(system.name, type)" [metricLabel]="getColumnLabel(type)" [alertMessage]="getAlertMessage(system.name, type)"></app-unit-formatter>-->
  </div>
</div>
