<div class="table-data " [class.selectedRow]="isSelectedRow(data.getCell('name').value)" [class.highlight-row]="options.highlightRow">
  <div class="col-val col-control" *ngIf="options.selectableRows">
    <i
      [ngClass]="isSelectedRow(data.getCell('name').value) ? 'fa-check-square' : 'fa-square'" class="far fa-fw"
      (click)="selectRow(data.getCell('name').value)"></i>
  </div>
  <div *ngIf="options.colControlFormatter != null" class="col-val col-control">
    <app-cell-table [componentFormatter]="options.colControlFormatter" [data]="data" [label]="''"
                    [options]="options"
                    ></app-cell-table>
  </div>
  <div [ngClass]="'col-val col'" [style.width.%]="options.getColumnWidth(column.index)" *ngFor="let column of options.columns; let colIndex = index"
       (mouseout)="setHighlightedColumn(-1)"
       (mouseover)="setHighlightedColumn(colIndex)"
       [class.highlightColumn]="isColumnHighlighted(colIndex)"
       [class.text-right]="colIndex > 0 && options.columnAlign === 'right'"
       [class.text-center]="colIndex <= 0 || options.columnAlign !== 'right'"
  >
   <app-cell-table [componentFormatter]="column.component" [data]="data.getCellRawData(column)" [label]="column.label" [rowData]="data"
                    [options]="options" [column]="column"></app-cell-table>
  </div>
</div>
