/*** Layout table ***/
.col-control {
  width: 3.5%;
  display: inline-block;
  vertical-align: middle;
}

.col {
  /*width: 13.33%;*/
  display: inline-block;
  vertical-align: middle;
}

.col-control i {
  font-size: 11px;
  padding: 3px;
}

.col-control:after {
  content: "";
  font-size: 11px;
  padding: 3px;
}

/**** Table data ****/
.table-data {
  width: 100%;
}

.table-data > div {
  text-align: center;
  border-right: 1px #EAEAEA solid;
  display: inline-block;
  vertical-align: middle;
  margin: auto;
}

.selectedRow {
  background-color: #BEECD1 !important;
  color: #3A738C;
}
