<div class="metric-value">
  <span *ngIf="isAlert()" tooltip="{{alertMessage}}" hide-delay="0" class="text-alert">{{metric.value}} {{metric.unit}}</span>
  <span *ngIf="!isAlert()" tooltip="{{metricLabel}} average" hide-delay="0">{{metric.value}} {{metric.unit}}</span>
</div>
<div class="peak">
  <span tooltip="{{metricLabel}} peak" hide-delay="0"><span class="text-danger"><i class="fa fa-arrow-up"></i>{{metric.peak}} {{metric.unit}}</span></span>
  <!--<span><i class="blue-curve"></i>{{metric.peak}} {{metric.unit}}</span>-->
</div>

