<div class="metric-value">
  <span *ngIf="isAlert()" tooltip="{{alertMessage}}" hide-delay="0" class="text-orange">{{metric.value}} <span class="metric-unit">{{metric.unit}}</span></span>
  <span *ngIf="!isAlert()" tooltip="{{metricLabel}} average" hide-delay="0">{{metric.value}} <span class="metric-unit">{{metric.unit}}</span></span>
</div>
<div class="peak">
  <span tooltip="{{metricLabel}} peak" hide-delay="0"><span class="text-muted"><i class="fa fa-angle-up text-red"></i>{{metric.peak}} <span class="metric-unit">{{metric.unit}}</span></span></span>
  <!--<span><i class="blue-curve"></i>{{metric.peak}} {{metric.unit}}</span>-->
</div>

