<label class="btn btn-default custom-file-upload" *ngIf="fileName === null">
  <input class="form-control mb-5" type="file" class="upload" (change)="changeListener($event.target.files)">
  Import File
</label>
<div *ngIf="fileName !== null">
  <h4>Import</h4>
  <div class="col-md-2 file-name">
    {{fileName}}
  </div>
  <div class="col-md-1 status">
    <div>
      <span tooltip="Rows found in the table" class="text-success"><i class="fa fa-check-circle"></i></span> {{validData.length}}
    </div>
    <div>
      <span tooltip="Rows not found by key in table and cannot be imported" class="text-danger"><i
        class="fa fa-times-circle"></i></span>
      {{dataVo.length - validData.length}}
    </div>
  </div>
  <div class="col-md-12">
    <button class="btn btn-default" (click)="updateData()">Import</button>
    <button class="btn btn-danger" (click)="reset()">Cancel</button>
  </div>
</div>
