.col {
  width: 35.75% !important;
}

.col-label {
  width: 25% !important;
}

:host /deep/ .groupped-data .metric-value {
  font-size: 1.1rem;
}

:host /deep/ .aggregated-data .metric-value {
  font-style: italic;
  font-weight: 600;
}

:host /deep/ .groupped-data .metric-unit {
  font-size: 8px;
  margin-left: 3px;
}
