<div class="tab-pane" *ngIf="data.length > 0">
  <div class="container-fluid">
    <div class="row col-md-12">
      <app-sasi-table class="table-right" [data]="data | systemPool2SasiGroupTable: 'hostGroups'" [tableOptions]="options"></app-sasi-table>
      <app-aggragated-statistics class='col-md-12 sticky-bottom' [aggregatedTypes]="options.getAggregatedColumns()" [data]="data | systemPool2SasiGroupTable" [selectedRows]="selectedRows" [prefix]="options.storageNamePrefix"></app-aggragated-statistics>
    </div>
  </div>
</div>
