<!--AGGREGATED VALUES-->
<div class="agg-vals" *ngIf="data.length > 0">
  <div class="col" *ngFor="let group of groupTypes">
    <div class="agg-name">{{getGroupLabelByType(group)}}</div>
    <div class="agg-value">
      <div *ngFor="let type of types[group]">
        <div class="text-left col-md-5">{{getLabelByType(type)}}: </div>
        <div class="text-right col-md-push-6">
          <span *ngIf="getMetricByType(type) !== undefined && getMetricByType(type).value != null">{{toFixed(getMetricByType(type).value, 2)}} <span class="agg-unit">{{getMetricByType(type).unit}}</span></span>
          <span class='text-gray' *ngIf="getMetricByType(type) === undefined || getMetricByType(type).value == null">No value</span>
        </div>
      </div>
    </div>
  </div>
</div>
