<div *ngIf="data.length > 0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <app-sasi-table [data]="data | StorageEntityDetail2SasiTablePipe: null: parentsData"
                        [tableOptions]="options" (selectedRowsChanged)="setSelectedRows($event)"></app-sasi-table>
      </div>
    </div>
  </div>
</div>
<div class="tab-pane col-md-6 col-lg-6" *ngIf="data.length == 0">
  <div class="box box-danger box-solid">
    <div class="box-body">
      No data available.
    </div>
  </div>
</div>
<div class="box-body" *ngIf="displayAddButton">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-default" (click)="openForm(type)">
          Add
        </button>
        <button type="button" class="btn btn-default" *ngIf="selectedRows.length > 0" (click)="openForm(type)">
          Edit selected
        </button>
        <app-import-csv-data *ngIf="importEnabled" keyColumn="name" [data]="data"
                             (importFinished)="importFinished.emit()"></app-import-csv-data>
      </div>
    </div>
  </div>
</div>
