<!--<script src="../../../../WEB/sub-content-loader.js"></script>-->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <div class="top-part-menu">
      <ul id="dash-link" class="sidebar-menu">
        <li><a href=""><i class="fa fa-dashboard"></i><span>Main dashboard</span></a></li>
      </ul>
      <!-- Sidebar Menu.ts -->
      <ul id="dash-menu" class="sidebar-menu" data-widget="tree">

        <li class="treeview">
          <a href="#"><i class="fa fa-area-chart"></i><span>Global Statistics</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li *ngFor="let globalLink of globalStatisticsLinks"
                (click)="highlight(null, globalLink.id)"
                [class.active]="isHighlighted(null, globalLink.id)"
            ><a [routerLink]="'/performance-statistics'">{{globalLink.name}}</a></li>
          </ul>
        </li>
        <li class="header">STORAGE ARRAYS</li>
        <!-- search form (Optional) -->
        <form action="#" method="get" class="sidebar-form" autocomplete="off">
          <div class="input-group">
            <input [(ngModel)]="searchExpression" (input)="search()" type="text" name="searchExp" class="form-control" placeholder="Search..." id="menu-search-input" />
            <span class="input-group-btn">
              <button type="button" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </form>
        <!-- /.search form -->
      </ul>
    </div>
    <div class="central-part-menu">
      <ul id="main-menu" class="sidebar-menu" data-widget="tree">
        <li *ngFor="let menuItem of filteredItems" class="treeview">
          <a href="#"><i class="fa fa-gears"></i><span>{{menuItem.label}}</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li *ngFor="let link of menuItem.items" class="treeview">
              <a href="#"><i class="fa fa-gears"></i><span>{{link.name}}</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
              </a>
              <ul class="treeview-menu">
                <li *ngFor="let poolLink of poolMetricLinks" (click)="highlight(link.id, poolLink.id)" [class.active]="isHighlighted(link.id, poolLink.id)"><a [routerLink]="getPoolMetricLink(link.id, poolLink.linkPart)">{{poolLink.name}}</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="bottom-part-menu">

    </div>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
