div.collapsed ~ div.collapsable {
  display: none;
}

div.collapsable:hover > div, .highlightColumn {
  /*padding: 20px;*/
  background-color: #ffa !important;
}

.col {
  width:12%;
  float: left;
}
.col-filler {
  width:97%;
}

table.capacity-table {
  border: 3px solid #30667E;
}

table.capacity-table thead tr > th {
  background-color: #30667E;
  color: white;
}

/*Display header on top of page when scrolling and aggregated stats at the bottom of screen*/
th {
  position: sticky;
  top: 50px;
  background-color: #ffffff;
  z-index: 10;
}

div.sticky {
  position: sticky;
  bottom: 0px;
  background-color: #ffffff;
  z-index: 10;
}

.system-header > div:first-child > div {
  background-color: #8AB7CB;
  color: white;
  margin-top: 10px;
  height: 20px;
}

.select-all i {
  font-size: 15px;
}

.expand-collapse {
  padding-right: 15px;
}

.expand-collapse:hover {
  color: #dddddd;
  font-size: 17px;
}

