/****** Behavior *****/
div.collapsed ~ div.collapsable {
  display: none;
}

div.collapsable:hover > div, .highlightColumn {
  /*padding: 20px;*/
  background-color: #E9FCE9 !important;
  color: #3A738C;
  font-weight: bold;
}
.selectedRow > .col-val{
  /*padding: 20px;*/
  background-color: #BEECD1 !important;
  color: #3A738C;
  font-weight: bold;
}

/*** Layout table ***/
.col-control {
  width: 5%;
  float: left;
}

.col {
  width: 12%;
  float: left;
}

.col-filler {
  width: 100%;
}

.col-val {
  height: 30px;
}

/*** Capacity header ***/

div.capacity-header {
  background-color: #3c8dbc;
  padding: 10px 0px 10px 0px;
  font-size: 15px;
  color: white;
  font-weight: bolder;
}

div.capacity-header > div {
  text-align: center;
}

.capacity-pools > div,
.system-header > div.row > div,
.system-header > div.row > div.ignore > div {
  text-align: center;
  border-right: 1px #c8c8c8 solid;
}

/**** System header ****/

.system-header > div.collapsable:nth-of-type(odd) > .col-val {
  background-color: #f0f0f0;
}

.system-header > div:first-child > div.col:last-child {
  /*width: 15%;*/
  border-right: none;
}

.system-header > div:first-child {
  background-color: #E8F4F9;
  color: #3A738C;
  padding: 10px 0px 10px 0px;
  border-bottom: 3px solid #eaeaea;
  margin-top: 10px;

  /*height: 20px;*/
}

.col-control i {
  font-size: 15px;
}

div.sticky {
  position: sticky;
  bottom: 0px;
  /*background-color: #97E397;*/
  /*border-top: 5px #C2F2C2 solid;*/
  /*border-top-left-radius: 5px;*/
  /*border-top-right-radius: 5px;*/
  z-index: 10;
}


.expand-collapse {
  padding-right: 15px;
}

.expand-collapse:hover {
  color: #5C91A8;
  font-size: 17px;
}

div.agg-vals {
  margin-top: 25px;
}

.agg-vals > .col {
  border: 5px #5C91A8 solid;
  border-right-width: 2px;
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-color: #5C91A8;
  font-weight: bold;

}

.agg-name {
  background-color: #3A738C;
  color: white;
  font-size: 11px;
  text-decoration: #0b97c4 dotted;
  /*height: 50px;*/
  padding: 5px;
  /*border: 5px #5C91A8 solid;*/
  /*border-right-width: 2px;*/
  /*border-top-width: 5px;*/
  /*border-bottom-width: 5px;*/
  /*border-color: #5C91A8;*/
}

.agg-vals .agg-value {
  padding: 5px;
  font-size: 12px;
  background-color: #DF9E56;
  color: white;
}


.system-name {
  font-size: 16px;
  font-weight: bold;
}

.pool-name {
  font-size: 14px;
  font-style: italic;
}

.metric-value {
  font-size: 14px;
  font-weight: bold;
}

.metric-unit {
  font-size: 8px;
}
