.bg-progress-color {
  background-color: #f94343;
  color: white;
}

div.progress {
  /*width: 90%;*/
  /*float:left;*/
  padding: 0px;
  border: 1px solid darkgrey;
  margin: 3px auto 3px auto;
  height: 20px;
}

div.progress-bar {
  text-align: center;
}

.progress-value {
  float: left;
  position: absolute;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bolder;

}

.component-name, .absolute-value-badge {
  margin: 2px 0 3px 0;
}
