<div *ngIf="data != null && data.value > 0 && isVisible()">
  <div class="col-md-2" *ngIf="displayName" tooltip="Port pair">
    <span class="badge bg-black">{{getName()}}</span>
  </div>
  <div class="progress progress-sm col-md-8" [tooltip]="resolveRelativeDisbalance() + '%'">
    <div class="progress-bar progress-bar-danger" [ngStyle]="{width:resolveRelativeDisbalance() + '%'}"></div>
  </div>
  <div class="col-md-2">
    <span class="badge bg-red">{{resolveAbsoluteDisbalance() + 'MBps'}}</span>
  </div>
</div>
