.alert-red {
  color: #900020;
}

.alert-amber {
  color: #db8b0b;
}

:host /deep/ .metric-value {
  font-size: 1.1rem;
}

:host /deep/ .metric-unit {
  font-size: 8px;
  margin-left: 3px;
}

.sorting {
  font-size: 13px;
  transform: rotate(90deg);
}

.sticky-bottom {
  position: sticky;
  bottom: 0px;
  z-index: 10;
}

