@import "~@ng-select/ng-select/themes/default.theme.css";
@import url("assets/bower_components/bootstrap/dist/css/bootstrap.min.css");
@import url("assets/bower_components/fontawesome/css/all.min.css");
@import url("assets/bower_components/Ionicons/css/ionicons.min.css");
@import url("assets/dist/css/AdminLTE.min.css");
@import url("assets/dist/css/skins/skin-blue.min.css");
@import url("assets/css/fonts.css");
@import url("assets/css/custom.css");
@import url("assets/plugins/jvectormap/jquery-jvectormap-1.2.2.css");
@import '../node_modules/@syncfusion/ej2-angular-diagrams/styles/material.css';

