<div *ngIf="displayForm" class="modal fade in" id="modal-default" style="display: block; padding-right: 15px;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" (click)="closeForm()">&#735;</span></button>
        <h4 class="modal-title" *ngIf="data.type === staticType.SYSTEM">Add / Edit System</h4>
        <h4 class="modal-title" *ngIf="data.type === staticType.DATACENTER">Add / Edit Datacenter</h4>
      </div>
      <div class="modal-body">
        <div *ngIf="httpErrorDisplayed" class="col-md-12 http-error-box">
          {{httpError}}
        </div>
        <form role="form" [formGroup]="form">
          <div class="box-body">
            <div class="col-md-12 form-group" *ngIf="data.type !== staticType.DATACENTER"
                 [class.has-error]="dataCenter.invalid && (dataCenter.dirty || dataCenter.touched || submitted)">
              <label for="datacenter">Datacenter:</label>
              <ng-select id="datacenter" [items]="dataCenterList"
                         bindValue="value" formControlName="datacenter">
              </ng-select>
              <span *ngIf="dataCenter.invalid && (dataCenter.dirty || dataCenter.touched || submitted)"
                    class="help-block">Datacenter must be chosen</span>
            </div>
            <div class="col-md-12 form-group"
                 [class.has-error]="name.invalid && (name.dirty || name.touched || submitted)">
              <label for="name" *ngIf="data.type === staticType.SYSTEM">System Name: </label>
              <label for="name" *ngIf="data.type === staticType.DATACENTER">Datacenter Name: </label>
              <input type="text" class="form-control" formControlName="name">
              <span *ngIf="name.invalid && (name.dirty || name.touched || submitted)" class="help-block">Name must be set</span>
            </div>
            <div *ngIf="data.type !== staticType.DATACENTER">

              <div class="col-md-12 form-group" *ngIf="data.type !== staticType.DATACENTER"
                   [class.has-error]="form.invalid && form.errors.duplicatedSerialNumber !== null && (serial.dirty || serial.touched || submitted)"
              >
                <div class="">
                  <label for="serial">Physical Serial Number: </label>
                </div>
                <div class="col-md-3">
                  <input id="prefix" class="form-control" type="text" formControlName="prefixReferenceId"/>
                </div>
                <div class="col-md-3">
                  <input id="serial" class="form-control" type="text" formControlName="serialNumber"
                         name="serialNumber"/>
                </div>
                <div class="col-md-12">
                  <span *ngIf="form.invalid && form.errors.duplicatedSerialNumber !== null" class="help-block">Same serial number is already used</span>
                </div>
              </div>
              <div class="col-md-12 form-group">
                <label for="model">Array Model: </label>
                <input id="model" class="form-control" type="text" formControlName="arrayModel">
              </div>
              <div class="col-md-12 form-group">
                <label for="dkc">Virtual DKCs: </label>
                <input id="dkc" class="form-control" type="text" formControlName="dkc">
              </div>
              <div class="col-md-12 form-group"
                   [class.has-error]="room.invalid && (room.dirty || room.touched || submitted)">
                <label for="room">Room: </label>
                <input id="room" class="form-control" type="text" formControlName="room">
                <span *ngIf="room.invalid && room.errors.maxlength !== null" class="help-block">Length must be less than 32 characters</span>
              </div>
              <div class="col-md-12 form-group"
                   [class.has-error]="rack.invalid && (rack.dirty || rack.touched || submitted)">
                <label for="rack">Rack: </label>
                <input id="rack" class="form-control" type="text" formControlName="rack">

              </div>
              <div class="col-md-12 form-group">
                <label for="managementIp">Management IP: </label>
                <input id="managementIp" class="form-control" type="text" formControlName="managementIp">
              </div>
              <div class="col-md-12 form-group">
                <label for="sortId">Sort ID: </label>
                <input id="sortId" class="form-control" type="text" formControlName="sortId">
              </div>
            </div>
          </div>
          <!--           /.box-body -->
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" (click)="closeForm()">Close</button>
        <button [class.disabled]="data.id === undefined" type="button" class="btn btn-danger"
                (click)="confirmDisplayWindow()">Deactivate
        </button>
        <div class="btn-group">
          <button [class.disabled]="form.invalid" type="button" class="btn btn-primary"
                  (click)="form.valid ? saveChanges() : submitted = true">Save changes
          </button>

          <button type="button" [class.disabled]="form.invalid" class="btn btn-primary dropdown-toggle"
                  data-toggle="dropdown" aria-expanded="true">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a (click)="form.valid ? saveChanges(true) : submitted = true">Save as new</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<div *ngIf="confirmWindowDisplay" class="modal fade in" id="modal-confirm" style="display: block; padding-right: 15px;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        Are you sure to deactivate {{data.name}} ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger"
                (click)="deactivate()">Confirm
        </button>
        <button type="button" class="btn btn-default pull-left"
                (click)="closeConfirmationWindow()">Cancel
        </button>
      </div>
    </div>
  </div>
</div>
