<div *ngIf="displayForm" class="modal fade in" id="modal-default" style="display: block; padding-right: 15px;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" (click)="closeForm()">&#735;</span></button>
        <h4 class="modal-title" *ngIf="data.type === staticType.SYSTEM">Add / Edit {{getStaticData(data.type).storageEntityLabel}}</h4>
      </div>
      <div class="modal-body">
        <div *ngIf="httpErrorDisplayed" class="col-md-12 http-error-box">
          {{httpError}}
        </div>
        <form role="form" [formGroup]="form">
          <div class="box-body">
            <div class="col-md-12 form-group" *ngIf="parent !== null && data.type !== staticType.DATACENTER && !data.duplicateOperation"
                 [class.has-error]="parent.invalid && (parent.dirty || parent.touched || submitted)">
              <label for="parent">{{getStaticData(data.type).parentNameLabel}}:</label>
              <ng-select id="parent" [items]="getStaticData(data.type).parents"
                         bindValue="id" bindLabel="name" formControlName="parent">
              </ng-select>
              <span *ngIf="parent.invalid && (parent.dirty || parent.touched || submitted)"

                    class="help-block">{{getStaticData(data.type).parentNameLabel}} must be chosen</span>
            </div>
            <div *ngIf="name !== null" class="col-md-12 form-group"
                 [class.has-error]="(name.invalid && (name.dirty || name.touched || submitted)) || (form.invalid && form.errors !== null && form.errors.duplicatedPortName !== null) && (name.dirty || name.touched || submitted)">
              <label for="name">{{getStaticData(data.type).storageEntityLabel}} Name: </label>
              <input type="text" class="form-control" formControlName="name" id="name">
              <span *ngIf="name.invalid && name.errors !== null && name.errors.required !== undefined && (name.dirty || name.touched || submitted)" class="help-block">Name must be set</span>
              <span *ngIf="form.invalid && form.errors !== null && form.errors.duplicatedPortName !== undefined && (name.dirty || name.touched || submitted)" class="help-block">Duplicated port name</span>
            </div>
            <div *ngIf="data.type === staticType.SYSTEM">

              <div class="col-md-12 form-group" *ngIf="data.type !== staticType.DATACENTER"
                   [class.has-error]="form.invalid && form.errors !== null && form.errors.duplicatedSerialNumber !== null && (serial.dirty || serial.touched || submitted)"
              >
                <div class="">
                  <label for="serial">Physical Serial Number: </label>
                </div>
                <div class="col-md-3">
                  <input id="prefix" class="form-control" type="text" formControlName="prefixReferenceId"/>
                </div>
                <div class="col-md-3">
                  <input id="serial" class="form-control" type="text" formControlName="serialNumber"
                         name="serialNumber"/>
                </div>
                <div class="col-md-12">
                  <span *ngIf="form.invalid && form.errors !== null && form.errors.duplicatedSerialNumber !== null" class="help-block">Same serial number is already used</span>
                </div>
              </div>
              <div *ngIf="arrayModel !== null" class="col-md-12 form-group">
                <label for="arrayModel">Array Model: </label>
                <input id="arrayModel" class="form-control" type="text" formControlName="arrayModel">
              </div>
              <div *ngIf="dkc !== null" class="col-md-12 form-group">
                <label for="dkc">Virtual DKCs: </label>
                <input id="dkc" class="form-control" type="text" formControlName="dkc">
              </div>
              <div *ngIf="room !== null" class="col-md-12 form-group"
                   [class.has-error]="room.invalid && (room.dirty || room.touched || submitted)">
                <label for="room">Room: </label>
                <input id="room" class="form-control" type="text" formControlName="room">
                <span *ngIf="room.invalid && room.errors.maxlength !== null" class="help-block">Length must be less than 32 characters</span>
              </div>
              <div *ngIf="rack !== null" class="col-md-12 form-group"
                   [class.has-error]="rack.invalid && (rack.dirty || rack.touched || submitted)">
                <label for="rack">Rack: </label>
                <input id="rack" class="form-control" type="text" formControlName="rack">
              </div>
              <div *ngIf="managementIp !== null" class="col-md-12 form-group">
                <label for="managementIp">Management IP: </label>
                <input id="managementIp" class="form-control" type="text" formControlName="managementIp">
              </div>
              <div *ngIf="sortId !== null" class="col-md-12 form-group">
                <label for="sortId">Sort ID: </label>
                <input id="sortId" class="form-control" type="text" formControlName="sortId">
              </div>
            </div>
            <div *ngIf="speed !== null">
              <div class="col-md-12 form-group"
                   [class.has-error]="speed.invalid && (speed.dirty || speed.touched || submitted)">
                <label for="speed">Speed [Gbps]: </label>
                <input id="speed" class="form-control" type="text" formControlName="speed">
                <span *ngIf="speed.invalid && speed.errors.pattern !== null" class="help-block">Speed must be a number</span>
              </div>
            </div>
            <div *ngIf="note !== null">
              <div class="col-md-12 form-group"
                   [class.has-error]="note.invalid && (note.dirty || note.touched || submitted)">
                <label for="note">Description: </label>
                <input id="note" class="form-control" type="text" formControlName="note">
                <span *ngIf="note.invalid && note.errors.maxlength !== null" class="help-block">Description too long</span>
              </div>
            </div>
            <div *ngIf="cables !== null">
              <div class="col-md-12 form-group"
                   [class.has-error]="cables.invalid && (cables.dirty || cables.touched || submitted)">
                <label for="cables">Cables: </label>
                <input id="cables" class="form-control" type="text" formControlName="cables">
                <span *ngIf="cables.invalid && cables.errors.maxlength !== null" class="help-block">Cables too long</span>
              </div>
            </div>
            <div *ngIf="switch !== null">
              <div class="col-md-12 form-group"
                   [class.has-error]="switch.invalid && (switch.dirty || switch.touched || submitted)">
                <label for="switch">Switch: </label>
                <input id="switch" class="form-control" type="text" formControlName="switch">
                <span *ngIf="switch.invalid && switch.errors.maxlength !== null" class="help-block">Switch too long</span>
              </div>
            </div>
            <div *ngIf="slot !== null">
              <div class="col-md-12 form-group"
                   [class.has-error]="slot.invalid && (slot.dirty || slot.touched || submitted)">
                <label for="slot">Slot/Port: </label>
                <input id="slot" class="form-control" type="text" formControlName="slot">
                <span *ngIf="slot.invalid && slot.errors.maxlength !== null" class="help-block">Slot too long</span>
              </div>
            </div>
            <div *ngIf="wwn !== null">
              <div class="col-md-12 form-group"
                   [class.has-error]="wwn.invalid && (wwn.dirty || wwn.touched || submitted)">
                <label for="wwn">WWN: </label>
                <input id="wwn" class="form-control" type="text" formControlName="wwn">
                <span *ngIf="wwn.invalid && wwn.errors.maxlength !== null" class="help-block">WWN too long</span>
              </div>
            </div>
          </div>
          <!--           /.box-body -->
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" (click)="closeForm()">Close</button>
        <button *ngIf="data.duplicateOperation" [class.disabled]="data.id === undefined || form.invalid" type="button" class="btn btn-primary"
          (click)="form.valid ? duplicate(): submitted = true">
          Duplicate
        </button>
        <div class="btn-group" *ngIf="!data.duplicateOperation && (data.id !== undefined || selectedRows.length > 0)">
          <button *ngIf="!data.duplicateOperation && (data.id !== undefined || selectedRows.length > 0)" type="button" class="btn btn-danger"
                  (click)="confirmDisplayWindow(
                {message: this.getConfirmWindowsMessage(false), action: deactivate}
                )">{{getStatusButtonLabel()}}
          </button>
          <button type="button" [class.disabled]="form.invalid" class="btn btn-danger dropdown-toggle"
                  data-toggle="dropdown" aria-expanded="true">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a *ngIf="!data.duplicateOperation && (data.id !== undefined || selectedRows.length > 0)"
                        (click)="confirmDisplayWindow(
                {message: this.getConfirmWindowsMessage(true), action: delete}
                )">Delete
            </a></li>
          </ul>
        </div>
        <div class="btn-group" *ngIf="!data.duplicateOperation">
          <button [class.disabled]="form.invalid" type="button" class="btn btn-primary"
                  (click)="form.valid ? saveChanges() : submitted = true">Save
          </button>

          <button type="button" [class.disabled]="form.invalid" class="btn btn-primary dropdown-toggle"
                  data-toggle="dropdown" aria-expanded="true">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a (click)="form.valid ? saveChanges(true) : submitted = true">Save as new</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<app-confirm-window [message]="confirmWindowMessage" [open]="confirmWindowDisplay" (changed)="confirmWindowAction($event)"></app-confirm-window>

