:host /deep/ .sasi-table-item {
  display: flex;
  align-items: stretch;
}

:host /deep/ .sasi-table-data {
  justify-content: flex-end;
}

:host /deep/ .sasi-table-cell {
  align-self: center;
}
:host /deep/ .sasi-table-controls,
:host /deep/ .sasi-table-alerts
{
  display: flex;
  align-items: stretch;
  justify-content: center;
}

:host /deep/ .sasi-table-controls i,
:host /deep/ .sasi-table-alerts i{
  font-size: 1.1rem;
  align-self: center;
}
/**** Appearance ***/
.sasi-table-item {
  border-top: 3px solid #EAEAEA;
  border-bottom: 3px solid #EAEAEA;
}
.sasi-table-item.alt-border {
    border-right: 3px double darkgrey;
}
.sasi-table-item.text-right {
  justify-content: flex-end;
}
.sasi-table-item.text-center {
  justify-content: center;
}

.highlightColumn {
  background-color: #b4d1ee !important;
  color: #3A738C;
}
