<!--
          SYSTEM PART
        -->
<div class="table-group-header">
  <!--
    SYSTEM LABEL
  -->
  <div class="table-group-label">
    <div class="col-val col-control">
      <i class="fa expand-collapse"
         [@iconRotate]="isCollapsed(data.groupRow.getCell('name').value)"
         [ngClass]="'fa-angle-down'"
         (click)="addCollapsed(data.groupRow.getCell('name').value)"
         [tooltip]="isCollapsed(data.groupRow.getCell('name').value) ? 'Expand':'Collapse'"></i>
    </div>
    <div class="col-val col-control" *ngIf="options.isDataGrouped && options.cellDecoratorRules.length > 0">

    </div>
    <!--<div class="col-val col-control">-->
    <!--<i tooltip="Warning for one or more metrics" *ngIf="isAlertingSystem(system.name)" class="fas fa-exclamation text-orange"></i>-->
    <!--</div>-->
    <!--<div class="col-val col-label"><span class="system-name"><a [routerLink]="data.id | iframeUrlCreator"-->
    <!--routerLinkActive="active">{{ system.name }}</a></span>-->
    <!--</div>-->
    <div class="col-val col-label" [style.width.%]="options.getColumnWidth(options.columns[0].index)">
      <app-cell-table
        [componentFormatter]="options.columns[0].component" [data]="data.groupRow.getCell('name').rawData"
        [label]="''"
        [options]="options"></app-cell-table>
    </div>
    <div class="col-val col" *ngFor="let column of options.getAggregatedColumns(); let colIndex=index"
         [style.width.%]="options.getColumnWidth(column.index)"
    >
      <app-cell-table *ngIf="aggregatedValues[column.index] !== undefined" [componentFormatter]="column.component"
                      [data]="getAggregatedValue(column.index)"
                      [label]="column.label" [options]="options"></app-cell-table>
    </div>
    <!--<div class="ignore" *ngIf="this.getSystemStatistics(system.name) !== undefined">-->
    <!--<div class="ignore">-->
    <!--<div *ngFor="let type of types"-->
    <!--[tooltip]="getColumnLabel(type)" hide-delay="0" show-delay="300"-->
    <!--class="col-val col">{{this.getSystemStatistics(system.name).getValue(type).toFixed(2)}}</div>-->
    <!--</div>-->
  </div>
  <!---->
  <!--POOL ROWS-->
  <!---->
  <div class="groupped-data" [@slideInOut]="isCollapsed(data.groupRow.getCell('name').value)">
    <app-row-table [class.highlight-row]="options.highlightRow" *ngFor="let row of data.rows"
                   [class.striped-row]="options.isDataGrouped" [data]="row" [options]="options"
                   [groupName]="data.groupRow.getCell('name').value"
                   (selectEmit)="onSelectRow($event)"></app-row-table>
  </div>
  <!--<div class="row" [@slideInOut]="isCollapsed(system.name)">-->
  <!--<div *ngFor="let pool of data[i].pools" class="table-data striped-row row"-->
  <!--[@slideInOut]="isCollapsed(system.name)">-->
  <!--<div class="col-val col-control">-->
  <!--</div>-->
  <!--<div class="col-val col-label"><span class="pool-name">{{pool.name}}</span></div>-->
  <!--<div [ngClass]="'col-val col'" *ngFor="let type of types; let column=index;"-->
  <!--(mouseout)="setHighlightedColumn(-1)"-->
  <!--(mouseover)="setHighlightedColumn(column)"-->
  <!--[class.highlightColumn]="isCurrentColumn(column)" hide-delay="0"-->

  <!--show-delay="500">-->
  <!--<span>-->
  <!--<span class="metric-value">{{getFormattedMetric(pool.metrics, type)}}</span>-->
  <!--<span class="metric-unit">{{getMetric(pool.metrics, type).unit}}</span>-->
  <!--</span>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
</div>
