.col-control {
  width: 3.5%;
  display: inline-block;
  vertical-align: middle;
}

.col {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}

.col-control i {
  font-size: 1.1rem;
  padding: 5px;
}

.col-control:after {
  content: "";
  font-size: 1.1rem;
  padding: 3px;
}


/**** Data group header ****/
.table-group-header > div.table-group-label > div[class^="col"],
.table-group-header > div.table-group-label > div.ignore > div {
  border-right: 1px #EAEAEA solid;
  margin: 2px 0px 2px 0px;
}

.table-group-header > div:first-child {
  color: #35516A;
  border-bottom: 3px solid #EAEAEA;
}

.table-group-header > div:first-child > div.col:last-child {
  border-right: none;
}

app-row-table {
  display: block;
}

app-row-table.striped-row:nth-of-type(odd) {
  background-color: #f3f8fa;
}

.col-label {
  display: inline-block;
  text-align: left;
  padding-left: 1rem;
  /*width: 100%;*/
}

.highlightColumn {
  background-color: #b4d1ee !important;
  color: #3A738C;
  /*padding:0px;*/
}

.text-alert-yellow {
  color: #ffd829;
}

.table-group-header > div.table-group-label > div.alt-border {
  border-right: 3px double darkgrey;
}

.table-group-header > div.table-group-label > div.alt-border-left {
  border-left: 3px double darkgrey;
}
