<!--<div *ngIf="data != null && data.value > 0 && isVisible()" class="metric-value">-->
<!--  <i class="fa fa-exclamation-triangle text-alert-yellow"></i>&nbsp;<span class="text-red">{{getInfoMessage()}}</span>-->
<!--</div>-->
<table class="table table-bordered" *ngIf="subData.length > 0">
  <thead>
  <tr>
    <td>Name</td>
    <td>Type</td>
    <td>Relative</td>
    <td>Absolute</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of subData">
    <td>{{row.cells['name'].value}}</td>
    <td><i tooltip="{{getTooltip(row)}}" [className]="getIcon(row)"></i></td>
    <td>{{getCellValue(row, imbalancePerc)}} [{{getUnit(row, imbalancePerc)}}]</td>
    <td>{{getCellValue(row, imbalanceAbs)}} [{{getUnit(row, imbalanceAbs)}}]</td>
  </tr>
  </tbody>
</table>
