<div class="tab-pane" *ngIf="data.length > 0">
  <div class="container-fluid">
    <div class="row">
      <app-sasi-table class="table-right" [data]="data | systemPool2SasiGroupTable: 'capacityAnalysis'"
                      [tableOptions]="options"></app-sasi-table>
      <app-aggregated-statistics class='col-md-12 sticky-bottom' [aggregatedColumns]="options.getAggregatedColumns()"
                                 [data]="data | systemPool2SasiGroupTable" [selectedRows]="selectedRows"
                                 [prefix]="options.storageNamePrefix"></app-aggregated-statistics>
    </div>
  </div>
</div>
