<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Performance statistics</h3>
    <div class="box-tools pull-right">
      <!-- Buttons, labels, and many other things can be placed here! -->
      <!-- Here is a label for example -->
      <!--<span class="label label-primary">Label</span>-->
    </div>
    <!-- /.box-tools -->
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div class="col-md-12">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li *ngFor="let datacenter of datacenters" [class.active]="datacenter.id === getCurrentTab()"><a (click)="activeTab(datacenter.id)" [href]="'/performance-statistics#' + datacenter.id" data-toggle="tab" aria-expanded="true">{{datacenter.label}}</a></li>
          <!--<li class="active"><a href="#activity" data-toggle="tab" aria-expanded="true">Activity</a></li>-->
        </ul>
        <div class="tab-content">
          <div *ngFor="let datacenter of datacenters" class="tab-pane" [id]="datacenter.id" [class.active]="datacenter.id === getCurrentTab()">
            <table datatable [dtOptions]="dtOptions" class="dataTable display">
              <tbody *ngIf="data.length > 0">
                <tr *ngFor="let system of data;let i = index" [class.even]="i%2 === 0" [class.even]="i%2 === 1">
                  <td>{{ system.name }}</td>
                  <td *ngFor="let metric of system.metrics">{{metric.value}} {{metric.unit}} <span class="peak"><i class="fa fa-exclamation"></i> {{metric.peak}} {{metric.unit}}</span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- /.performance-statistics-content -->
      </div>
      <!-- /.nav-tabs-custom -->
    </div>
  </div>
  <!--<div class="overlay">-->
    <!--<i class="fa fa-refresh fa-spin"></i>-->
  <!--</div>-->
</div>
