<div class="box" *ngIf="data.length > 0">
  <div class="box-header">
    <h3 class="box-title">Storage Locations</h3>
  </div>
  <div class="box-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-default" (click)="openForm()">
            Add system
          </button>
        </div>
      </div>
    </div>
    <app-storage-entity-form [dataCenterList]="datacenterList" [displayForm]="displayForm"
                             (displayed)="changeFormState($event)"></app-storage-entity-form>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <app-sasi-table [data]="data | storageEntity2SasiGroupTable: 'dc'" [tableOptions]="options"></app-sasi-table>
        </div>
      </div>
    </div>
  </div>
</div>
